body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, 1fr);
}
h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    justify-self: center;
}
#menu {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: grid;
    grid-template-rows: repeat(4, 40px);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    font-size: 1.5em;
}
form {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    font-size: 1.5em;
}
#order-total {
    grid-row: 3 / 4;
    grid-column: 3 / 5;
    font-size: 2em;
}